{% extends "admin/change_form.html" %}
{% load static %}


{% block extrahead %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
<script>
  

  // }
  $(function () {
    $(".tabs").tabs();
    $('#optiondiv').hide();

    
    $(".radio").change(function() {
      $(".radio").not(this).prop('checked', false);
    });

    

    var count=$('[id^=option-row]').length - 1;
    
    $("#add").click(function () {
      count++;
      if (count<10){

          var html = `<tr id="option-row[${count}]">
            {% for i in language %}
              <td>
                <input type="text" id="option{{i.locale}}['${count}'][opname]" name="option{{i.locale}}['${count}'][opname]" required>
                <input type="hidden" id="option{{i.locale}}['${count}'][oplanguage]" name="option{{i.locale}}['${count}'][oplanguage]" value="{{i.locale}}">
              </td>
            {% endfor %}
            <td><input type="text" id="option['${count}'][customoption]" name="option['${count}'][customoption]" required></td>
            
            <td><input type="number" id"option['${count}'][order]" name="option['${count}'][order]" required></td>
            
            <td><input type="radio" class="radio" id="option['${count}'][default]" name="option['${count}'][default]" ></td>
            <td><img src="{% static 'images/delete.png' %}" height="30px" width="30px" class="delete"></td>
          </tr>`;
          
          $("#tbl").append(html);
          
      }

    
    $(".delete").click(function(){
      
      $(event.target).closest("tr").remove();
            
    });

    $(".radio").change(function() {
      $(".radio").not(this).prop('checked', false);
    });
      
      
    });

    var dltcount=0;
    $(".delete").click(function(){
      var dltId = $(this).parent().attr('id');
      if(dltId != undefined){
      var dlt = `<input type="hidden" id="deleterows['${dltcount}']" name="deletedata['${dltcount}']" value="${dltId}">`
      $("#tbl").append(dlt);
      }
      $(event.target).closest("tr").remove();
      dltcount++;      
    });

    
    

    var arr = ['radio','select','multiselect','checkbox']

    if(jQuery.inArray($("#inputtype").val(),arr) != -1){
        $("#optiondiv").show()
        $("#option-row td input").prop('required',true);
      }
      else{
        $("#optiondiv").hide()
        $("#option-row td input").prop('required',false);
      }

    $("#inputtype").change(function(){
      if(jQuery.inArray($("#inputtype").val(),arr) != -1){
        $("#optiondiv").show()
        $("#option-row td input").prop('required',true);
      }
      else{
        $("#optiondiv").hide()
        $("#option-row td input").prop('required',false);
        
      }
    });
  });

  
  </script>
{% endblock %}

{% block content %}

<body>
 
    
  {% if attributeNames is None and optionNames is None %}
  <div class="tabs" id="attributediv">
    <ul>
      <li><a href="#information">Information</a></li>
      
    </ul>
    <div id="information">
      
      <form method="post">
        
        <table>
          {% for i in language %}
          <tr>
            <td>Name [{{i.locale}}]</td>
            <td>
              <input type="text" id="{{i.locale}}name" name="{{i.locale}}name" required>
              <input type="hidden" id="{{i.locale}}language" name="{{i.locale}}language" value="{{i.locale}}">
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td>Code</td>
            <td><input type="text" id="code" name="code" required></td>
          </tr>
          <tr>
            <td>Input Type</td><td>
              <select id="inputtype" name="inputtype" required>
                <option value="boolean">Boolean</option>
                <option value="checkbox">Checkbox</option>
                <option value="radio">Radio</option>
                <option value="select">Select</option>
                <option value="multiselect">Multi-select</option>
                <option value="textbox">TextBox</option>
                <option value="textarea">Textarea</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Is required?</td><td>
              <select id="required" name="required" required>
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select></td>
          </tr>
  
          
        </table>
        
        <div class="tabs" id="optiondiv">
          <ul>
            <li><a href="#option">Option</a></li>
            
          </ul>
          <div id="option">
            
              
              <table id="tbl">
                <tr>
                  {% for i in language %}
                    <th>Name [{{i.locale}}]</th>
                  {% endfor %}
                  <th>Custom Option</th>
                  <th>Sort Order</th>
                  <th>Default</th>
                  <th id="add"><img src="{% static 'images/add.png' %}" height="30x" width="30px"></th>
                </tr>
                <tr id="option-row[0]">
                  {% for i in language %}
                    <td>
                      <input type="text" id="option{{i.locale}}['0'][opname]" name="option{{i.locale}}['0'][opname]" >
                      <input type="hidden" id="option{{i.locale}}['0'][oplanguage]" name="option{{i.locale}}['0'][oplanguage]" value="{{i.locale}}" >
                    </td>
                  {% endfor %}
                  <td><input type="text" id="option['0'][customoption]" name="option['0'][customoption]" ></td>
                  
                  <td><input type="number" id="option['0'][order]" name="option['0'][order]" ></td>
                  
                  <td><input type="radio" class="radio" id="option['0'][default]" name="option['0'][default]" ></td>
                  <td><img src="{% static 'images/delete.png' %}" class="delete" height="30px" width="30px"></td>
                </tr>
              </table>
          </div>
          
        </div>
    </div>
    
  </div>
  
    {% csrf_token %}
  <div id="submitdiv">
    <input type="submit" value="Save">
  </form>
  </div>
    
    {% else %}
    <div class="tabs" id="attributediv">
      <ul>
        <li><a href="#information">Information</a></li>
        
      </ul>
      <div id="information">
    <form method="post">
        
      <table>
        
        {% for i in language %}
        {% if i.locale == attributeNames|get_item:i.locale|get_item:'language' %}
        <tr>
          <td>Name [{{i.locale}}]</td>
          <td>
            <input type="hidden" id="{{i.locale}}attributetranslationid" name="{{i.locale}}attributetranslationid" value="{{attributeNames|get_item:i.locale|get_item:'attributeTranslationId'}}">
            <input type="text" id="{{i.locale}}name" name="{{i.locale}}name" value="{{attributeNames|get_item:i.locale|get_item:'name'}}"  required>
            <input type="hidden" id="{{i.locale}}language" name="{{i.locale}}language" value="{{i.locale}}">
          </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
          {% for i in attributeDetails %}
          <td>Code</td>
          <td><input type="text" id="code" name="code" value="{{i.code}}" required></td>
          <td><input type="hidden" id="attributeid" name="attributeid" value="{{i.attributeId}}" required></td>
        </tr>
        <tr>
          <td>Input Type</td><td>
            <select id="inputtype" name="inputtype" required>
              <option value="boolean" {% if i.inputType == "boolean" %} selected {% endif %}>Boolean</option>
              <option value="checkbox" {% if i.inputType == "checkbox" %} selected {% endif %}>Checkbox</option>
              <option value="radio" {% if i.inputType == "radio" %} selected {% endif %}>Radio</option>
              <option value="select">Select</option>
              <option value="multiselect" {% if i.inputType == "multiselect" %} selected {% endif %}>Multi-select</option>
              <option value="textbox" {% if i.inputType == "textbox" %} selected {% endif %}>TextBox</option>
              <option value="textarea" {% if i.inputType == "textarea" %} selected {% endif %}>Textarea</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Is required?</td><td>
            <select id="required" name="required" required>
              <option value="yes" {% if i.isRequired == "yes" %} selected {% endif %}>Yes</option>
              <option value="no" {% if i.isRequired == "no" %} selected {% endif %}>No</option>
            </select></td>
        </tr>
        {% endfor %}

        
      </table>
      
      <div class="tabs" id="optiondiv">
        <ul>
          <li><a href="#option">Option</a></li>
          
        </ul>
        <div id="option">
          
            
            <table id="tbl">
              <tr>
                
                {% for i in language %}
                  <th>Name [{{i.locale}}]</th>
                {% endfor %}
                <th>Custom Option</th>
                <th>Sort Order</th>
                <th>Default</th>
                <th id="add"><img src="{% static 'images/add.png' %}" height="30x" width="30px"></th>
              </tr>
              
                {% for i in optionDetails %}
                <tr id="option-row[{{forloop.counter0}}]">
                  {% for j in language %}
                    {% if j.locale == optionNames|get_item:j.locale|get_item:i.customOption|get_item:'language' %}
                    
                    
                    
                      <input type="hidden" id="option{{j.locale}}['{{forloop.parentloop.counter0}}'][optiontranslationid]" name="option{{j.locale}}['{{forloop.parentloop.counter0}}'][optiontranslationid]" value="{{optionNames|get_item:j.locale|get_item:i.customOption|get_item:'optionTranslationId'}}"required>
      
                      <td><input type="text" id="option{{j.locale}}['{{forloop.parentloop.counter0}}'][opname]" name="option{{j.locale}}['{{forloop.parentloop.counter0}}'][opname]" value="{{optionNames|get_item:j.locale|get_item:i.customOption|get_item:'name'}}" required ></td>
                      <input type="hidden" id="option{{j.locale}}['{{forloop.parentloop.counter0}}'][oplanguage]" name="option{{j.locale}}['{{forloop.parentloop.counter0}}'][oplanguage]" value="{{j.locale}}" required>
                    
                    {% endif %}
                  {% endfor %}
                  
                
                
                <td><input type="text" id="option[{{forloop.counter0}}][customoption]" name="option[{{forloop.counter0}}][customoption]" value="{{i.customOption}}" required></td>

                <input type="hidden" id="option[{{forloop.counter0}}][optionid]" name="option[{{forloop.counter0}}][optionid]" value="{{i.optionId}}" required>
                
                <td><input type="number" id="option[{{forloop.counter0}}][order]" name="option[{{forloop.counter0}}][order]" value="{{i.sortOrder}}" required></td>
                
                <td><input type="radio" class="radio" id="option[{{forloop.counter0}}][default]" name="option[{{forloop.counter0}}][default]"  {% if i.isDefault == True %} checked {% endif %} ></td>
                <td id="{{i.optionId}}"><img src="{% static 'images/delete.png' %}" class="delete" height="30px" width="30px"></td>
              </tr>
                {% endfor %}
                
                
            </table>
        </div>
        
      </div>
  </div>
  
</div>

  {% csrf_token %}
<div id="submitdiv">
  <input type="submit" value="Save">
</div>
  </form>

  {% endif %}
    

</body>
<!-- Render the rest of the ChangeList view -->
<!-- {{block.super}} -->
{% endblock %}