



{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify admin_list %}

{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">

<link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'admin/css/icomoon/style.css' %}">
    
    <link rel="stylesheet" href="{% static 'admin/css/chosen.css' %}">
        
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}"> -->
    
    <!-- Style -->
    <link rel="stylesheet" href="{% static 'admin/css/style.css' %}">
    <style>
      .chosen-container { width: 100% !important; }
      </style>
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media }}




{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div>
            {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
            {% endblock messages %}
        </div>
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1> {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"> {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
                <li class="breadcrumb-item"> {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
          
        
          <div class="row">
            <div class="col-12">

              <!-- /.card -->

              <div class="card">

                <div class="card-body">

                  {% if bannerList is None %}


                  <div class="tabs">
                    <ul>
                      
                      <li><a href="#translation">Translation</a></li>
                      <li><a href="#banner">Banner</a></li>
                    </ul>
                    <form class="form-group" id="addbanner" method="post" enctype="multipart/form-data">
                    <div id="translation">
                      <div class="tabs">
                        <ul>{% for i in language %}
                          <li><a href="#{{i.locale}}">{{i.title}}</a></li>
                          {% endfor %}
                        </ul>

                        {% for i in language %}
                        <div id="{{i.locale}}">

                          <div class="form-group">
                            <label>Title:</label>
                            <input class="form-control" type="text" id="{{i.locale}}title" name="{{i.locale}}title" required /></td>
                          </div>
                          <div class="form-group">
                            <label>Content:</label>
                              <textarea class="form-control" rows="5" cols="40" id='{{i.locale}}content' name="{{i.locale}}content"
                                required></textarea>
                          </div>
                            <input class="form-control" type="hidden" id="{{i.locale}}lang" name="{{i.locale}}lang" value="{{i.locale}}" />

                            
                         

                        </div>
                        {% endfor %}



                      </div>
                    </div>
                    <div id="banner">
                      
                      <div class="form-group">
                        <label>Banner Group:</label>
                            <select style="width: 200px;" data-placeholder="Select Banner Groups" multiple class="chosen-select form-control" tabindex="8" id="bannergroup" name="bannergroup">
                              
                              {% for i in bannerGroup %}
                              <option value="{{i.bannerGroupId}}" >
                                {{i.code}}</option>
                              {% endfor %}
                              </select>
                    
                      </div>
                            
                          
                          
                           
                      <div class="form-group">
                        <label>Sort Order:</label>
                            <input class="form-control" type="number" id="order" name="order">
                      </div>

                      <div class="form-group">
                        <label>Status:</label>
                          
                            <select class="form-control" id="status" name="status" required>
                              <option value="enabled">Enable</option>
                              <option value="disabled">Disable</option>
                            </select>
                      </div>
                      <div class="m-3">
                        <table width="100%" class="text-center" id="bannerinfo">
                          <tr>
                          <th>Banner Group</th>
                          <th>Image</th>
                          <th>URL</th>
                          </tr>
                        </table>
                      </div>
                    </div>
                    
                  </div>
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" value="Save">
                  </form>
                  {% else %}


                  <div class="tabs">
                    <ul>
                      
                      <li><a href="#translation">Translation</a></li>
                      <li><a href="#banner">Banner</a></li>
                    </ul>
                    <form class="form-group" method="post" id="updatebanner" enctype="multipart/form-data">
                    <div id="translation">
                      <div class="tabs">
                        <ul>{% for i in language %}
                          <li><a href="#{{i.locale}}">{{i.title}}</a></li>
                          {% endfor %}
                        </ul>

                        {% for i in language %}
                        {% if i.locale == bannerList|get_item:i.locale|get_item:'language' %}

                        <div id="{{i.locale}}">

                          <div class="form-group">
                            <label>Title:</label>
                            <input class="form-control" type="text" id="{{i.locale}}title" name="{{i.locale}}title" value="{{bannerList|get_item:i.locale|get_item:'title'}}" required />
                          </div>
                          <div class="form-group">
                            <label>Content:</label>
                              <textarea class="form-control" rows="5" cols="40" id='{{i.locale}}content' name="{{i.locale}}content"
                                required>{{bannerList|get_item:i.locale|get_item:'content'}}</textarea>
                          </div>
                            <input class="form-control" type="hidden" id="{{i.locale}}lang" name="{{i.locale}}lang" value="{{i.locale}}" />
                            <input class="form-control" type="hidden" id="{{i.locale}}bannertranslationid" name="{{i.locale}}bannertranslationid" value="{{bannerList|get_item:i.locale|get_item:'bannerTranslationId'}}" />


                            
                          
                        </div>
                        {% endif %}
                        {% endfor %}



                      </div>
                    </div>
                    <div id="banner">
                      
                      <div class="form-group">
                        <label>Banner Group:</label>
                            <select style="width: 200px;" data-placeholder="Select Banner Groups" multiple class="chosen-select form-control" tabindex="8" id="bannergroup" name="bannergroup">
                              
                              {% for i in bannerGroup %}
                              
                              <option value="{{i.bannerGroupId}}" {% for j in bannerImageList %}{% if j.bannerGroup_id == i.bannerGroupId %} selected {% endif %} {% endfor %}>
                                {{i.code}}</option>
                              
                              {% endfor %}
                              </select>
                    
                      </div>
                            
                          
                          
                          {% for i in bannerDetails %}
                          <div class="form-group">
                            <label>Sort Order:</label>
                            <input class="form-control" type="number" id="order" name="order" value="{{i.sortOrder}}">
                          </div>
                          <input class="form-control" type="hidden" id="bannerid" name="bannerid" value="{{i.bannerId}}">

                          <div class="form-group">
                            <label>Status:</label>
                          
                            <select class="form-control" id="status" name="status" required>
                              <option value="enabled" {% if i.status == "enabled" %} selected {% endif %} >Enable</option>
                              <option value="disabled" {% if i.status == "disabled" %} selected {% endif %}>Disable</option>
                            </select>
                          </div>
                          {% endfor %}
                        
                        <div class="m-3">
                        <table width="100%" class="text-center" id="bannerinfo">
                          <tr>
                          <th>Banner Group</th>
                          <th>Image</th>
                          <th>URL</th>
                          </tr>

                          {% for j in bannerImageList %}
                          <tr class="added-{{j.bannerGroup_id}}">
                            <td>{{j.bannerGroup.code}}</th>
                            <td><div class=row><a id="imglink[{{j.bannerGroup_id}}]" class="col-md-2" href="/media/{{j.image}}" target="_blank"><img id="img[{{j.bannerGroup_id}}]" src ="/media/{{j.image}}" style="height:50px; width:50px;"></a>
                              <input type="file" class="form-control col-md-8 mt-2" id="bannerimage[{{j.bannerGroup_id}}]" name="bannerimage[{{j.bannerGroup_id}}]" onchange="readURL(this);"  accept="image/*" >
                            </div></td>
                            <td><input type="text" class="form-control" id="url[{{j.bannerGroup_id}}]" name="url[{{j.bannerGroup_id}}]" value="{{j.url}}" required></td>
                            <input type="hidden"  id="bannergrpid[{{j.bannerGroup_id}}]" name="bannergrpid[{{j.bannerGroup_id}}]" value="{{j.bannerGroup_id}}" required>
                            <input type="hidden"  id="bannerimgid[{{j.bannerGroup_id}}]" name="bannerimgid[{{j.bannerGroup_id}}]" value="{{j.bannerImageId}}" required>
                            </tr>
                          {% endfor %}
                        </table>
                        </div>
                    </div>
                    
                  </div>
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" value="Save">
                  </form>

                  {% endif %}

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

  </div>

  <!-- jQuery -->
  <script src="{% static 'admin/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'admin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- DataTable Plugins -->

  <!-- AdminLTE App -->
  <script src="{% static 'admin/dist/js/adminlte.min.js' %}"></script>

  
  <!-- Page specific script -->
  <script>
    $(document).ready(function () {
      var firstName = $('#firstName').text();
      var lastName = $('#lastName').text();
      var intials = firstName.charAt(0);
      var profileImage = $('#profileImage').text(intials);
      
    });

      
      
      
   
  </script>


<script>
  $(function () {

    $(".tabs").tabs();
    
  });
  $('#submit').click(function () {
    if (error == 0) {
      $(this).focus();
      var tab = $(this).closest('.tabs').attr('id');
      $('.tabs a[href="#' + tab + '"]').tab('show');
    }
  });
</script>


  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script> 
<script src="{% static 'js/jquery-validation-banner.js' %}"></script>
  <script src="{% static 'admin/js/changeform-attribute.js' %}"></script>

  <!-- <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script> -->
    <script src="{% static 'admin/js/popper.min.js' %}"></script>
    <script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'admin/js/chosen.jquery.min.js' %}"></script>
    
    <script src="{% static 'admin/js/main.js' %}"></script>
    <script>
      function readURL(input) {
  if (input.files && input.files[0]) {
    var reader = new FileReader();
    console.log("img: ",$(this));
    reader.onload = function (e) {
      console.log(e.target);
      forImg.attr('src', e.target.result).width(50).height(50);
      $(e.target).prev().$('a').prop('href', e.target.result).prop('target','_blank');
    };

    reader.readAsDataURL(input.files[0]);
  }
}
    </script>
    


</body>
<!-- Render the rest of the ChangeList view -->

{% endblock %}