{% load i18n %}

{% for app in app_list %}
{% if app.name == "Page" or app.name == "Attribute" or app.name == "Block" or app.name == "Language" or app.name == "Banner" %}

{%else%}
    <li class="nav-header"><strong>{{ app.name }}</strong></li>
    {% for model in app.models %}
       
        {% if model.admin_url %}
          <li class="nav-item">
            <a href="{{ model.admin_url }}" class="nav-link">
              <i class="nav-icon fa-solid fa-table"></i>
              <p class="text">{{ model.name }}</p>
            </a>
          </li>
            {% else %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">{{ model.name }}</p>
            </a>
          </li>
            
          {% endif %}


    {% endfor %}
          {% endif %}
          <hr class="col-11" />
          {% endfor %}
          
          
          
          <li class="nav-header"><strong>CMS</strong></li>

{% for app in app_list %}

{% if app.name == "Page"  or app.name == "Block" or app.name == "Banner" %}
{% for model in app.models %}
       
        {% if model.admin_url %}
          <li class="nav-item">
            <a href="{{ model.admin_url }}" class="nav-link">
              <i class="nav-icon fa-solid fa-table"></i>
              <p class="text">{{ model.name }}</p>
            </a>
          </li>
            {% else %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">{{ model.name }}</p>
            </a>
          </li>
            
          {% endif %}


    {% endfor %}
  {%endif%}
  {%endfor%}
  <hr class="col-11" />
  <hr class="col-11" />
  <li class="nav-header"><strong>System</strong></li>

{% for app in app_list %}

{% if app.name == "Attribute"  or app.name == "Language" %}
{% for model in app.models %}
       
        {% if model.admin_url %}
          <li class="nav-item">
            <a href="{{ model.admin_url }}" class="nav-link">
              <i class="nav-icon fa-solid fa-table"></i>
              <p class="text">{{ model.name }}</p>
            </a>
          </li>
            {% else %}
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">{{ model.name }}</p>
            </a>
          </li>
            
          {% endif %}


    {% endfor %}
{%endif%}
{%endfor%}
<hr class="col-11" />
<hr class="col-11" />