{% load i18n admin_urls %}

{% block submit-row %}

{% if show_delete_link and original %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <div class="m-3">
    <p class="deletelink-box"><button class="btn btn-outline-primary"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% translate "Delete" %}</a></button></p>
    </div>
    {% endif %}
<div class="submit-row text-right">
{% if show_save %}<input type="submit" value="{% translate 'Save' %}" class="default btn btn-primary" name="_save">{% endif %}
{% if show_save_as_new %}<input type="submit" class="btn btn-primary" value="{% translate 'Save as new' %}" name="_saveasnew">{% endif %}
{% if show_save_and_add_another %}<input type="submit" class="btn btn-primary" value="{% translate 'Save and add another' %}" name="_addanother">{% endif %}
{% if show_save_and_continue %}<input type="submit" class="btn btn-primary" value="{% if can_change %}{% translate 'Save and continue editing' %}{% else %}{% translate 'Save and view' %}{% endif %}" name="_continue">{% endif %}
{% if show_close %}<a href="{% url opts|admin_urlname:'changelist' %}" class="closelink">{% translate 'Close' %}</a>{% endif %}
{% endblock %}
</div>
