



{% extends "admin/change_form.html" %}
{% load i18n admin_urls static admin_modify admin_list %}

{% block extrastyle %}
{{ block.super }}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<link rel="stylesheet" href="{% static 'admin/css/custom.css' %}">
{% endblock %}

{% block extrahead %}
{{ block.super }}
{{ media }}




{% endblock %}

{% block content %}

<body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div>
            {% block messages %}
            {% if messages %}
                <ul class="messagelist">{% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
                {% endfor %}</ul>
            {% endif %}
            {% endblock messages %}
        </div>
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1> {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"> {% if has_view_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}</li>
                <li class="breadcrumb-item"> {% if add %}{% blocktranslate with name=opts.verbose_name %}Add {{ name }}{% endblocktranslate %}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
          
        
          <div class="row">
            <div class="col-12">

              <!-- /.card -->

              <div class="card">

                <div class="card-body">

                  {% if bannerGroupList is None %}


                  <div class="tabs">
                    <ul>
                      
                      <li><a href="#translation">Translation</a></li>
                      <li><a href="#bannergroup">Banner Group</a></li>
                    </ul>
                    <form class="form-group" id="addbannergroup" method="post">
                    <div id="translation">
                      <div class="tabs">
                        <ul>{% for i in language %}
                          <li><a href="#{{i.locale}}">{{i.title}}</a></li>
                          {% endfor %}
                        </ul>

                        {% for i in language %}
                        <div id="{{i.locale}}">

                          <div class="form-group">
                            <label>Name:</label>
                            <input class="form-control" type="text" id="{{i.locale}}name" name="{{i.locale}}name" required />
                          </div>
                            <input class="form-control" type="hidden" id="{{i.locale}}lang" name="{{i.locale}}lang" value="{{i.locale}}" />


                        </div>
                        {% endfor %}



                      </div>
                    </div>
                    <div id="bannergroup">
                      

                      <div class="form-group">
                        <label>Code:</label>
                          <input class="form-control" type="text" id="code" name="code" required>
                      </div>

                      <div class="form-group">
                        <label>Sort Order:</label>
                        <input class="form-control" type="number" id="order" name="order">
                      </div>

                      <div class="form-group">
                        <label>Status:</label>
                            <select class="form-control" id="status" name="status" required>
                              <option value="enabled">Enable</option>
                              <option value="disabled">Disable</option>
                            </select>
                      </div>
                         
                      
                    </div>
                    
                  </div>
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" value="Save">
                  </form>
                  {% else %}


                  <div class="tabs">
                    <ul>
                      
                      <li><a href="#translation">Translation</a></li>
                      <li><a href="#bannergroup">Banner Group</a></li>
                    </ul>
                    <form class="form-group" id="updatebannergroup" method="post">
                    <div id="translation">
                      <div class="tabs">
                        <ul>{% for i in language %}
                          <li><a href="#{{i.locale}}">{{i.title}}</a></li>
                          {% endfor %}
                        </ul>

                        {% for i in language %}
                        {% if i.locale == bannerGroupList|get_item:i.locale|get_item:'language' %}

                        <div id="{{i.locale}}">

                          <div class="form-group">
                            <label>Name:</label>
                            <input class="form-control" type="text" id="{{i.locale}}name" name="{{i.locale}}name" value="{{bannerGroupList|get_item:i.locale|get_item:'name'}}" required />
                          </div>
                            <input class="form-control" type="hidden" id="{{i.locale}}lang" name="{{i.locale}}lang" value="{{i.locale}}" />
                            <input class="form-control" type="hidden" id="{{i.locale}}bannergrouptranslationid" name="{{i.locale}}bannergrouptranslationid" value="{{bannerGroupList|get_item:i.locale|get_item:'bannerGroupTranslationId'}}" />

                            
                          

                        </div>
                        {% endif %}
                        {% endfor %}


                      </div>
                    </div>
                    <div id="bannergroup">
                      
                        {% for i in bannerGroupDetails %}
                        <div class="form-group">
                          <label>Code:</label>
                          <input class="form-control" type="text" id="code" name="code" value="{{i.code}}" required>
                            <input class="form-control" type="hidden" id="bannergroupid" name="bannergroupid" value="{{i.bannerGroupId}}" required>
                        </div>

                        <div class="form-group">
                          <label>Sort Order:</label>
                          <input class="form-control" type="number" id="order" name="order" value="{{i.sortOrder}}">
                        </div>

                        <div class="form-group">
                          <label>Status:</label>
                            <select class="form-control" id="status" name="status" required>
                              <option value="enabled" {% if i.status == 'enabled' %} selected {% endif %}>Enable</option>
                              <option value="disabled" {% if i.status == 'disabled' %} selected {% endif %}>Disable
                              </option>
                            </select>
                        </div>
                          
                        
                        {% endfor %}
                    </div>
                    
                  </div>
                  {% csrf_token %}
                  <input class="btn btn-primary" type="submit" id="submit" value="Save">
                  </form>

                  {% endif %}

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
          </div>
      </section>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 3.2.0
      </div>
      <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
    </footer>

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

  </div>

  <!-- jQuery -->
  <script src="{% static 'admin/plugins/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap 4 -->
  <script src="{% static 'admin/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- DataTable Plugins -->

  <!-- AdminLTE App -->
  <script src="{% static 'admin//dist/js/adminlte.min.js' %}"></script>
 
  <!-- Page specific script -->
  <script>
    $(document).ready(function () {
      var firstName = $('#firstName').text();
      var lastName = $('#lastName').text();
      var intials = firstName.charAt(0);
      var profileImage = $('#profileImage').text(intials);
    });
  </script>




<script>
  $(function () {

    $(".tabs").tabs();
  });
  $('#submit').click(function () {
    if (error == 0) {
      $(this).focus();
      var tab = $(this).closest('.tabs').attr('id');
      $('.tabs a[href="#' + tab + '"]').tab('show');
    }
  });
</script>


  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script> 
<script src="{% static 'js/jquery-validation-bannergroup.js' %}"></script>
  <script src="{% static 'admin/js/changeform-attribute.js' %}"></script>



</body>
<!-- Render the rest of the ChangeList view -->

{% endblock %}